<h1>For connections</h1>
<p>
Urban Dictionary defines the following:
<blockquote>
  Kindred Spirits are two people that make a special connection by sharing a
  bond that has joined them by the means of an experience that has drawn them
  together on a higher level of consciousness. This connection can be from the
  same experience at the same time or two separate experiences similar in
  nature.
</blockquote>

We started this site because we believe that, by learning more about people
like us, we better understand ourselves.

</p>
<p>
  <button class="button"> Take the Tour </button>
</p>

<!-- this should be in the controller, here for temporary -->
<% @recent_stories = Story.latest %>

<h3> Recent stories from our users: </h3>
<% @recent_stories.each do |story| %>
  <%= render partial: "story_preview", locals: {story: story} %>
<% end %>
