<h1>Recent stories</h1>

  <% @stories.each do |story| %>
    <%= render partial: "story_preview", locals: {story: story} %>
  <% end %>


  <%= button_to "New Story", new_story_path, method: :get, class: "button" %>
