/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";

@include font-face('Volstead', 'volstead/Volstead', $asset-pipeline: true);
@include font-face('Roboto', 'roboto/Roboto-Regular', $asset-pipeline: true);

/* Color definitions */
$primary-color: #DE3931;
$background-color: #F5EBB8;
$accent-color: #940F1C;
$navbar-link-color: #4A8;

//$button-color: lighten(#397863, 20%);
$button-color: #D48;


body {
  font-family: 'Roboto';
  background-color: $accent-color;
}

.navheader {
  margin: 0px auto;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  overflow: hidden;
  background-color: $primary-color;

  height: 60px;

  a {
    color: $background-color;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.logo {
  font-family: 'Volstead';
  float: left;
  font-size: 200%;
  line-height: 00%;

}

.navlinks {
  float: right;
  text-align: right;
}

.clear {
  clear: both;
}

.button {
  background-color: $button-color;
  color: white;
  border: darken($button-color, 10%) solid 1px;
  border-radius: 5px;
  min-height: 40px;
  font-weight: bold;
  outline: none;
}

.button:hover {
  background-color: lighten($button-color, 5%);
}

.button:active {
  background-color: darken($button-color, 5%);
}

.sidebar {
  float: left;
  width: 200px;
  background-color: $background-color;
  border-radius: 10px;

  ul {
    list-style: none;
    //margin-left: 0px;
    padding-left: 12px;
    padding-right: 12px;
    //text-indent: -1em;
    line-height: 200%;
    text-align: center;

    li {
      background-color: $navbar-link-color;
      border: solid black 1px;

      a {
        color: white;
        text-decoration: none;
      }
    }

    li:hover {
      background-color: lighten($navbar-link-color, 5%);
    }
  }
}

.maincontent {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: $background-color;
  min-height: 80vh;
}
